* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* [THEME 0.1]
   :root {
  --mainBG1: #e7e7e7;
  --headerBG: #1e6950;
  --entryBoxHeaderBG: #64aa93;
  --mainTextColor: #2f3b68;
  --mainButtonBG: #2f3b68;
  --deleteEntryBG: #d37d7d;
  --deleteButtonBG: #a72c2c;
  --dateRowBG: #d6fce4;
  --dateRowBorder: #72b98c;
  --dateRowText: #72b98c;
  --totalsBoxBG: #d6fce4;
  --shadow: #b9b9b9;
  --utilityItemBG: #a4caca;
  --deleteEntryText: #fff;
} */

:root {
  --mainBG1: #1b1b1b;
  --toolboxBG: #222222;
  --headerBG: #53457a;
  --entryBoxHeaderBG: #53457a;
  --entryContainerBG: #363636;
  --mainTextColor: #c0c0c0;
  --mainButtonBG: #3868ab;
  --mainButtonBorder: #3680e7;
  --highlightText: #eeeeee;
  --deleteEntryBG: #7c3d3d;
  --deleteButtonBG: #d51818;
  --dateRowBG: #3a3645;
  --dateRowBorder: #53457a;
  --dateRowText: #c7c7c7;
  --utilityItemBG: #53457a;
  --deleteEntryText: #fff;
  --trBottomBorder: #3a3645;
  --updateDetailsBG: #363636;
  --inputBG: #656565;
  --inputTextColor: #eeeeee;
  --statusBG: #eee;
  --blackout: #000000b3;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

header {
  background-color: var(--headerBG);
  padding: 0 10px;
  color: var(--mainTextColor);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 50px;
}
#headerRight {
  height: 40px;
  line-height: 40px;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

body {
  background-color: var(--mainBG1);
  height: 100%;
}
#desktopContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#toolbox {
  flex-grow: 1;
  height: 92vh;
  background-color: var(--toolboxBG);
}

.status {
  width: 400px;
  z-index: 20;
  background-color: var(--statusBG);
  position: absolute;
  left: 200px;
  top: -200px;
  border-radius: 10px;
  opacity: 0;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2rem;
  align-content: center;
  transition: all 0.3s ease-in-out;
}

.status.show {
  opacity: 1;
  top: 5px;
}

#tableContainer {
  flex-grow: 5;
  height: 90vh;
  overflow: auto;
}

/* v------ ENTRY BLOCKS ------v */

.entryContainer {
  padding: 10px;
  width: 350px;
  border-radius: 8px;
  margin: 10px auto;
  background-color: var(--entryContainerBG);
  color: var(--mainTextColor);
}

#blackout {
  height: 100%;
  background-color: var(--blackout);
  position: absolute;
  top: 50px;
}

#addProjectContainer {
  position: relative;
}
#addClientContainer {
  position: relative;
  top: -560px;
}
#addRateContainer {
  position: relative;
  top: -280px;
}

.entryHeader {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: var(--headerBG);
  justify-content: space-between;
  padding: 5px;
  color: var(--highlightText);
  font-size: 1.5rem;
  font-weight: bold;
}

/* ^------ ENTRY BLOCKS ------^ */

#logForm {
  display: flex;
  flex-direction: column;
}

.clientName {
  font-size: 1rem;
  font-weight: bold;
}

.utility {
  background-color: var(--utilityItemBG);
}

.buttonTotals {
  font-weight: normal;
  font-size: 0.8rem;
}

.mainButton,
submit {
  margin: 20px auto;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--mainButtonBG);
  color: var(--highlightText);
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 3px solid var(--mainButtonBorder);
}

.deleteButton {
  margin: 20px auto;
  width: 80%;
  height: 30px;
  font-size: 0.8rem;
  background-color: var(--deleteButtonBG);
  color: var(--mainTextColor);
  border-radius: 10px;
  cursor: pointer;
}

.re-heading {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mainTextColor);
}

/* v------ FORM STYLES ------v */
input,
select,
textarea {
  background-color: var(--inputBG);
  color: var(--inputTextColor);
  border: none;
  border-radius: 3px;
  height: 1rem;
}
#descriptionBox {
  min-width: 200px;
  min-height: 3rem;
}

/* ^------ FORM STYLES ------^ */

/* v------ TABLE STYLES ------v */

.re-table {
  border-collapse: collapse;
  margin: 10px auto;
  min-width: 400px;
  width: 90%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  color: var(--mainTextColor);
  font-size: 0.8rem;
}

.re-table tr {
  border-bottom: 1px solid var(--trBottomBorder);
}

.re-table thead tr {
  background-color: var(--headerBG);
  color: var(--mainTextColor);
  text-align: left;
  font-weight: bold;
}

.re-table th,
.re-table td {
  padding: 0.3rem;
}

.re-dateRow {
  border-top: 2px solid var(--dateRowBorder);
  color: var(--dateRowText);
  font-size: 0.6rem;
  font-weight: bold;
  background-image: linear-gradient(
    to bottom,
    var(--dateRowBG),
    var(--mainBG1)
  );
}

.re-col-narrow {
  width: 5%;
}

.re-totalsRow {
  border-top: 3px solid var(--headerBG);
  color: var(--headerBG);
  font-weight: bold;
  font-size: 1.2rem;
}

.edit {
  cursor: pointer;
}

.updateDetailsTd {
  background-color: var(--updateDetailsBG);
  text-align: center;
  font-size: 0.9rem;
}

.rowButton {
  cursor: pointer;
}
.deleteCancel {
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline;
}

.deleteConfirm {
  background-color: var(--deleteEntryBG);
  color: var(--deleteEntryText);
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.confirmButton {
  margin: 20px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--deleteEntryText);
  background-color: var(--deleteButtonBG);
  border: 3px solid var(--deleteEntryText);
  border-radius: 10px;
  cursor: pointer;
}

/* ^------ TABLE STYLES ------^ */
